.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
.card {
 
    border: 2px solid #e7e7e7;
     
    border-radius: 4px;
     
    padding: .5rem;
     
    }

/* Add some padding inside the card container */
.container {
padding: 2px 16px;
}
@media (min-width: 900px) {
    .cards { grid-template-columns: repeat(4, 1fr); }
  }